[submodule "server/module-quartz/src/main/resources/module-quartz/src/main/resources/config"]
	path = server/module-quartz/src/main/resources/module-quartz/src/main/resources/config
	url = https://github.com/choizz156/pillivery-config.git
[submodule "server/module-quartz/src/main/resources/config"]
	path = server/module-quartz/src/main/resources/config
	url = https://github.com/choizz156/pillivery-config.git
[submodule "server/module-api/src/main/resources/config"]
	path = server/module-api/src/main/resources/config
	url = https://github.com/choizz156/pillivery-config.git
