*.log
node_modules
build
.idea
*.iml
Dockerfile
docker-compose.yml
*.md
*.sh
*.bat
*.exe
*.dll
*.so
*.dylib
*.pdb
*.cache
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.rej
*.pyc
*.pyo
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.iso
*.img
*.vmdk
*.vdi
*.vhd
*.vhdx
*.ova
*.ovf
*.qcow2
*.qcow
*.vpc
*.vpcx
*.vpcz